/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wrap {
    margin: 10px 20px 0 2px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}